jupyterlab>=3.4.8
Fiona>=1.8.21
geopandas>=0.11.1
pyproj>=3.4.0
rasterio>=1.3.2
rasterstats>=0.17.0
Shapely>=1.8.5
Rtree>=1.0.1
psycopg2-binary>=2.9.4
matplotlib>=3.6.1
scikit-learn>=1.1.2
folium>=0.13.0
geetools>=0.6.14
earthengine-api>=0.1.326
google-auth>=2.12.0
git+https://github.com/sindicum/sentinelimage.git

